body {

    background-image: url("img/gourmand404/background.png");
}

#arrow {

    position: absolute;
    left: 60%;
    top: 21%;
    width: 20%;
    transform: rotate(110deg);
}

#rotund {

    position: absolute;
    left: 30%;
    top: 35%;
    width: 35%;
}

#your_page {

    position: absolute;
    width: 30%;
    right: 13%;
}

#oh_no {

    position: absolute;
    width: 30%;
    left: 5%;
    top: 18%;
}

#e404 {

    position: absolute;
    right: 2.5%;
    top: 7%;
    width: 6%;
    opacity: 55%;
}